body,
html {
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
}

.bg {
    /* The image used */
    background-image: url("/assets/background.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swal2-shown {
    overflow: unset !important;
    padding-right: 0px !important;
}

#video {
    margin-top: -45px;
}
